/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 $terciary-color: #A7C6ED;

.wp-block-create-block-ua-gd-dynamic-certificate {
	.certificate-container {
		width: 100%;
		aspect-ratio: auto 2/1;
		max-width: 800px;
		background-color: $terciary-color;
		box-shadow: 0 0 10px rgba(0, 0, 0, .5);
		padding: 0.84rem;
		margin: auto;
	}
	
	.certificate-border {
		background-color: white;
		padding: 20px;
		border: 1px solid #E1E5F0;
	}
	
	.certificate-header, .certificate-footer {
		text-align: center;
		margin-bottom: 0;
	}
	
	.certificate-title {
		font-size: 1rem;
		margin: 0;
		padding-bottom: 8px;
	}

	.course-title {
		font-size: 1rem;
		font-weight: bold;
	}
	
	.certificate-text {
		font-size: 0.65rem;
		margin: 0;
		padding-bottom: 8px;
	}
	
	.certificate-body {
		padding: 2px;
	}
	
	.certificate-block {
		text-align: center;
	}
	
	.name-text {
		display: block;
		font-weight: bold;
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
	
	.credits-text {
		display: block;
		font-weight: 400;
		font-size: 0.75rem;
		line-height: 1rem; /* 16px */
	}

	.text-xs {
		font-size: 0.75rem; /* 12px */
		line-height: 1rem; /* 16px */
	}
	
	.pt-2 {
		padding-top: 0.5rem; /* 8px */
	}

	.earned-text {
		font-size: 0.84rem;
	}

	@mixin fancyFont() {
		font-family: 'Pinyon Script', cursive;
		// font-size: $size;
	}
	
	.certificate-title, .certificate-text, .earned-text {
		@include fancyFont();
	}
	
	.underline {
		border-bottom: 1px solid #777;
		padding-bottom: 5px;
	}
	
	@media (max-width: 600px) {
		.certificate-title, .name-text, .credits-text {
			font-size: 0.777rem;
		}
	}

	.certificate-container {
		width: 100%;
	}
}